{% load staticfiles %}

<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="http://www.marghoobsuleman.com/mywork/jcomponents/image-dropdown/samples/js/msdropdown/jquery.dd.min.js"></script>
  <!-- <link rel="stylesheet" href="http://www.marghoobsuleman.com/mywork/jcomponents/image-dropdown/samples/css/msdropdown/dd.css"> --> 
  <link href="{% static 'msdropdown/dd.css' %}" rel="stylesheet">
</head>

<body>
<script language="javascript">
  $(document).ready(function(e) {
    $(".select-img").msDropDown();
  });
</script>
<div class="row" style="margin:10px;padding:10px;">
<div class="col-xs-3 col-sm-3">
{{ form.as_p}}
</div>
</div>

</body>
</html>
