{% load staticfiles %}

<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- <script src="http://www.marghoobsuleman.com/mywork/jcomponents/image-dropdown/samples/js/msdropdown/jquery.dd.min.js"></script>
  <link rel="stylesheet" href="http://www.marghoobsuleman.com/mywork/jcomponents/image-dropdown/samples/css/msdropdown/dd.css"> -->
  <link href="{% static 'msdropdown/dd.css' %}" rel="stylesheet">
  <script src="{% static 'msdropdown/jquery.dd.js' %}"></script>
</head>

<body>
  <script language="javascript">
$(document).ready(function(e) {
try {
$(".select-img").msDropDown();
} catch(e) {
alert(e.message);
}
});
</script>
<div class="row" style="margin:10px;padding:10px;">
<div class="col-xs-3 col-sm-3">
{{ form.as_p}}
</div>
</div>

</body>
</html>
